<h6>DASHBOARD</h6>
<h3>welcome {{ name }}</h3>
<p>Employmnettech</p>

{{#if articals}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each articals}}
            <tr>
                <td><a href="/articals/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'Do MMMM yyyy, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/articals/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                    </a>
                    <form action="/articals/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
                </td>

            </tr>
            {{/each}}
    </tbody>
</table>

{{else}}
<p>you have not created any Stories</p>

{{/if}}